* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #13152a;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 2px;
  max-width: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tipForm .inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
.tipForm .inputs input {
  border: none;
  outline: none;
  background-color: rgb(220, 220, 220);
  padding: 5px 10px;
  width: 120px;
}

.tipForm .submit_button {
  background-color: #0060fa;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
.tipForm .submit_button:hover {
  background-color: #0057e4;
}
.tipForm .submit_button:active {
  background-color: #004dc8;
}
